# Week 1

## Introduction/Business Problem

Tommy is a new immigrant to Chicago, and he is looking for a place to live. He doesn't know much about this city but he's heard that there are many unsafe areas, so he wants to avoid these areas.

Chicago's Crime data:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

Chicago's Public Schools data:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

## Data

The datasets will be scraped from the above links.

In [23]:
import pandas as pd
import numpy as np
import requests
from sklearn.cluster import KMeans
from pandas.io.json import json_normalize
from geopy.geocoders import Nominatim

ModuleNotFoundError: No module named 'folium'

In [24]:
!conda install -c conda-forge geopy --yes
!conda install -c conda-forge folium=0.5.0 --yes
import folium

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    certifi-2019.11.28         |   py36h9f0ad1d_1         149 KB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.21.0-py_0       conda-forge
    python_abi:      3.6-1_cp36m       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0     conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36h9f0ad1d_1 conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0         conda-forge


Downloading and Extracting Packages
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
geopy-1.21.0         | 58 KB     | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    folium-0.5.0               |             py_0          45 KB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    altair-4.0.1               |             py_0         575 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         673 KB

The following NEW packages will be INSTALLED:

    altair:  4.0.1-py_0 conda-forge
    branca:  0.4.0-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
folium-0.5.0         | 45 KB     | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
altair-4.0.1         | 575 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [4]:
# The code was removed by Watson Studio for sharing.

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [35]:
body = client_c2f97c4c6c06405f9b4c80a0f1de245e.get_object(Bucket='tommyx27sibm-donotdelete-pr-ymndi4a2td47c8',Key='Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_school = pd.read_csv(body)
df_school.head()

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [5]:
df_crime.drop(['ID', 'CASE_NUMBER', 'DATE', 'IUCR', 'PRIMARY_TYPE', 'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT', 'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE', 'Y_COORDINATE', 'YEAR', 'UPDATEDON'], axis = 1, inplace = True)
df_crime.head()

,BLOCK,LATITUDE,LONGITUDE,LOCATION
0,047XX S KEDZIE AVE,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,009XX N CENTRAL PARK AVE,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,043XX S WABASH AVE,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,083XX S KINGSTON AVE,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,033XX W 66TH ST,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [34]:
#df_school.drop(['School ID', 'Elementary, Middle, or High School', 'City', 'State', 'ZIP Code', 'Phone Number', 'Collaborative Name', 'Adequate Yearly Progress Made?', 'Track Schedule', 'CPS Performance Policy Status', 'CPS Performance Policy Level', 'HEALTHY_SCHOOL_CERTIFIED', 'Safety Icon', '11th Grade Average ACT (2011)', 'Net Change PLAN and ACT', 'College Eligibility %', 'Graduation Rate %', 'College Enrollment Rate %', 'COLLEGE_ENROLLMENT', 'General Services Route', 'Network Manager', 'Freshman on Track Rate %', 'X_COORDINATE', 'Y_COORDINATE', 'COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME', 'Ward', 'Police District'], axis = 1, inplace = True)
#df_school.head()

KeyError: "['Adequate Yearly Progress Made?' 'Safety Icon'\n '11th Grade Average ACT (2011)' 'General Services Route'] not found in axis"

## Scraping from Foursquare

In [6]:
ID = 'ROZGCJLOT4NE5VZKWD2DQBHFAL2VIVVPQ40L0OR5Y3QOK3RU'
Secret = 'MBIEYCDRHWOFHLRI4NBJYMEYRQWT41WXNLA4Y1LR2X30044N'
VERSION = '20180604'
LIMIT = 100
radius = 500

In [8]:
block = df_crime.loc[0, 'BLOCK']
latitude = df_crime.loc[0, 'LATITUDE'] 
longitude = df_crime.loc[0, 'LONGITUDE']

In [11]:
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    ID, 
    Secret, 
    VERSION, 
    latitude, 
    longitude, 
    radius, 
    LIMIT)
results = requests.get(url).json()

In [20]:
venues = results['response']['groups'][0]['items']
nearby_venues = json_normalize(venues)
nearby_venues.head()

,reasons.count,reasons.items,referralId,venue.categories,venue.delivery.id,venue.delivery.provider.icon.name,venue.delivery.provider.icon.prefix,venue.delivery.provider.icon.sizes,venue.delivery.provider.name,venue.delivery.url,...,venue.location.formattedAddress,venue.location.labeledLatLngs,venue.location.lat,venue.location.lng,venue.location.postalCode,venue.location.state,venue.name,venue.photos.count,venue.photos.groups,venue.venuePage.id
0,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4b93f135f964a520975b34e3-0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",NaN,NaN,NaN,NaN,NaN,NaN,...,"[4700 S Kedzie Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.80776733903465...",41.807767,-87.704284,60632,IL,Pete's Fresh Market,0,[],NaN
1,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4aef9687f964a5206dd921e3-1,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",1584943,/delivery_provider_grubhub_20180129.png,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",grubhub,https://www.grubhub.com/restaurant/carnitas-do...,...,"[4617 S Kedzie Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.80920593097541...",41.809206,-87.703963,60632,IL,Carnitas Don Rafa,0,[],NaN
2,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4e3975ecbd4180188ce3453a-2,"[{'id': '52dea92d3cf9994f4e043dbb', 'name': 'D...",NaN,NaN,NaN,NaN,NaN,NaN,...,"[4756 South Kedzie Ave, Chicago, IL 60632, Uni...","[{'label': 'display', 'lat': 41.8065723449043,...",41.806572,-87.704529,60632,IL,Dollar Tree,0,[],NaN
3,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4e54253588770c1e5226ef36-3,"[{'id': '4bf58dd8d48988d1f6941735', 'name': 'D...",NaN,NaN,NaN,NaN,NaN,NaN,...,"[4932 S Kedzie Ave (at Steeple Center), Chicag...","[{'label': 'display', 'lat': 41.8036205, 'lng'...",41.803621,-87.705262,60632,IL,T.J. Maxx,0,[],NaN
4,0,"[{'summary': 'This spot is popular', 'type': '...",e-0-4e4cef1cbd413c4cc66d58b4-4,"[{'id': '4bf58dd8d48988d1c5941735', 'name': 'S...",1943648,/delivery_provider_grubhub_20180129.png,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",grubhub,https://www.grubhub.com/restaurant/subway-4711...,...,"[4711 S Kedzie Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.80760291883767...",41.807603,-87.703264,60632,IL,Subway,0,[],NaN

In [21]:
filtered_columns = ['venue.name', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
nearby_venues.head()

                  name        lat        lng
0  Pete's Fresh Market  41.807767 -87.704284
1    Carnitas Don Rafa  41.809206 -87.703963
2          Dollar Tree  41.806572 -87.704529
3            T.J. Maxx  41.803621 -87.705262
4               Subway  41.807603 -87.703264

In [27]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=15)

folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='BEDOKVILLE',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

In [29]:
one_hot = pd.get_dummies(nearby_venues[['name']], prefix="", prefix_sep="")
one_hot['name'] = nearby_venues['name'] 
fixed_columns = [one_hot.columns[-1]] + list(one_hot.columns[:-1])
one_hot = one_hot[fixed_columns]
one_hot.head()

(31, 31)

,name,47th and Kedzie,ALDI,CTA Bus Stop,Cafe El Meson,Carnitas Don Rafa,Cash America Pawn,Currency Exchange,Dollar Tree,Dots Fashions,...,Nicky's Hot Dogs,Pete's Fresh Market,Sally Beauty,Subway,T-Mobile,T.J. Maxx,The Athletes Foot,Town & Country Self-Service Liquor Mart,Tropical Optical,U-Haul Neighborhood Dealer
0,Pete's Fresh Market,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,Carnitas Don Rafa,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Dollar Tree,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,T.J. Maxx,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Subway,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [30]:
one_hot1 = one_hot.groupby(["name"]).mean().reset_index()
one_hot1.head()

(30, 31)

,name,47th and Kedzie,ALDI,CTA Bus Stop,Cafe El Meson,Carnitas Don Rafa,Cash America Pawn,Currency Exchange,Dollar Tree,Dots Fashions,...,Nicky's Hot Dogs,Pete's Fresh Market,Sally Beauty,Subway,T-Mobile,T.J. Maxx,The Athletes Foot,Town & Country Self-Service Liquor Mart,Tropical Optical,U-Haul Neighborhood Dealer
0,47th and Kedzie,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ALDI,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CTA Bus Stop,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Cafe El Meson,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Carnitas Don Rafa,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
clusters = 3
clustering = one_hot1.drop(["name"], 1)
kmeans = KMeans(n_clusters=clusters, random_state=0).fit(clustering)
kmeans.labels_[0:10]
one_hot2 = one_hot1.copy()
one_hot2["Cluster"] = kmeans.labels_
one_hot2.head()

,name,47th and Kedzie,ALDI,CTA Bus Stop,Cafe El Meson,Carnitas Don Rafa,Cash America Pawn,Currency Exchange,Dollar Tree,Dots Fashions,...,Pete's Fresh Market,Sally Beauty,Subway,T-Mobile,T.J. Maxx,The Athletes Foot,Town & Country Self-Service Liquor Mart,Tropical Optical,U-Haul Neighborhood Dealer,Cluster
0,47th and Kedzie,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ALDI,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CTA Bus Stop,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Cafe El Meson,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Carnitas Don Rafa,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
one_hot2 = one_hot2.join(nearby_venues.set_index("name"), on="name")
one_hot2.head()

,name,47th and Kedzie,ALDI,CTA Bus Stop,Cafe El Meson,Carnitas Don Rafa,Cash America Pawn,Currency Exchange,Dollar Tree,Dots Fashions,...,Subway,T-Mobile,T.J. Maxx,The Athletes Foot,Town & Country Self-Service Liquor Mart,Tropical Optical,U-Haul Neighborhood Dealer,Cluster,lat,lng
0,47th and Kedzie,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,41.808138,-87.703596
1,ALDI,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,41.803214,-87.705730
2,CTA Bus Stop,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,41.804782,-87.704206
3,Cafe El Meson,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,41.809000,-87.703770
4,Carnitas Don Rafa,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,41.809206,-87.703963